https://github.com/bitcoin/bips/blob/master/bip-0002.mediawiki
https://crl.gds.disa.mil/
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/$https://github.com/bitcoin/bips/blob/master/bip-0002.mediawiki
src/
